

  #footnotes_dialog_12c1b560_content {
    background: floralwhite !important;
  }

  /* <aside> example */
  #footnotes_dialog_12c1b560_content > p:first-child {
    margin-top: 0;
  }
  #footnotes_dialog_12c1b560_content > p:last-child {
    margin-bottom: 0;
  }

  #footnotes_dialog_12c1b560_content .footnote-back-link-wrapper {
    display: none;
  }

.animate{
    transition: opacity 1s;
    opacity: 0;
}